body {
    font-family: "Roboto", sans-serif;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bounceSlow {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
}

.animate-fadeInUp {
  animation: fadeInUp 1s ease-out forwards;
}

.animate-fadeIn {
  animation: fadeIn 1.2s ease-out forwards;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.animate-bounceSlow {
  animation: bounceSlow 2s infinite;
}


#recipe-videos::-webkit-scrollbar {
  height: 8px;
}
#recipe-videos::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.4);
  border-radius: 8px;
}
