{% extends "base.html" %}
{% load static %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="bg-white dark:bg-gray-900 min-h-screen">
    
    <div class="flex justify-center items-center min-h-screen">

        <div class="flex justify-center items-center w-full max-w-lg lg:max-w-none lg:w-1/3 p-6 sm:p-12">
            <div class="flex-1 max-w-md w-full p-8 bg-white dark:bg-gray-800 rounded-2xl shadow-2xl dark:shadow-xl border border-gray-200 dark:border-gray-700">
                <div class="text-center">
                    
                    <div class="flex justify-center mx-auto mb-6">
                        <div class="flex items-center justify-center rounded-2xl shadow-xl p-2 bg-white dark:bg-gray-800">
                            <img src={% static 'images/logo.png' %} alt="Logo" class="w-12 h-12 object-cover" />
                        </div>
                    </div> 

                    <h1 class="text-3xl font-bold text-gray-900 dark:text-white">Welcome Back!</h1>
                    <p class="mt-2 text-gray-500 dark:text-gray-300">Sign in to access your personalized recipe board.</p>
                </div>

                <div class="mt-10">
                    <form action="{% url 'login' %}" method="POST">
                        {% csrf_token %}
                        
                        <div class="mb-6">
                            <label for="username" class="block mb-2 text-sm font-medium text-gray-700 dark:text-gray-300">Username</label>
                            <input type="text" id="username" name="username" placeholder="Your username" 
                                class="block w-full px-5 py-3 text-gray-800 placeholder-gray-400 bg-gray-50 border border-gray-300 rounded-xl dark:placeholder-gray-500 dark:bg-gray-700 dark:text-gray-200 dark:border-gray-600 focus:border-orange-500 dark:focus:border-orange-400 focus:ring-2 focus:ring-orange-200 focus:outline-none transition duration-200" required />
                        </div>

                        <div class="mt-6 mb-8">
                            <div class="flex justify-between mb-2">
                                <label for="password" class="text-sm font-medium text-gray-700 dark:text-gray-300">Password</label>
                                <a href="{% url 'password_reset' %}" class="text-sm text-orange-500 hover:text-orange-600 hover:underline transition duration-200">Forgot password?</a>
                            </div>

                            <input type="password" name="password" id="password" placeholder="Your Password" 
                                class="block w-full px-5 py-3 text-gray-800 placeholder-gray-400 bg-gray-50 border border-gray-300 rounded-xl dark:placeholder-gray-500 dark:bg-gray-700 dark:text-gray-200 dark:border-gray-600 focus:border-orange-500 dark:focus:border-orange-400 focus:ring-2 focus:ring-orange-200 focus:outline-none transition duration-200" required />
                        </div>

                        <div>
                            <button type="submit" 
                                class="w-full px-4 py-3 tracking-wide text-white text-lg font-semibold transition-colors duration-300 transform bg-orange-600 rounded-xl hover:bg-orange-700 focus:outline-none focus:bg-orange-700 shadow-md shadow-orange-500/50 hover:shadow-lg">
                                Login
                            </button>
                        </div>
                    </form>

                    <p class="mt-6 text-base text-center text-gray-500 dark:text-gray-400">
                        Don't have an account yet? 
                        <a href="{% url 'register' %}" class="text-orange-500 font-semibold hover:underline transition duration-200">
                            Register Now
                        </a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}